<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/research">Research</a></li>
	        		<li><a href="https://mzgrosz.github.io/cv/GroszCV_2001.pdf" target="_blank">CV</a></li> 
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
			<li> Email: <a href="mailto:mgrosz@ftc.gov">mgrosz@ftc.gov</a></li>
        		<li> Phone: 202-326-2253</li>
				<li> Twitter: <a href="https://twitter.com/mzgrosz">@mzgrosz</a></li>
			</ul>
			</footer>
		</body>
	{% include googleanalytics.html %}	
	</html>
