<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		
		<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DQ4KCSGQJN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DQ4KCSGQJN');
</script>
		
		
		<body>
			<nav>
	    		<ul>
	        		<li><b><font size = "10">MICHEL GROSZ</font></b></li>
				<li><a href="/">Home</a></li>
		        	<li><a href="/research">Research</a></li>
	        		<li><a href="https://mzgrosz.github.io/cv/GroszCV_2304.pdf" target="_blank">CV</a></li> 
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->

		</body>
	{% include googleanalytics.html %}	
	</html>
